<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings >
    <add name="IMSArkiv" connectionString="Server=testsql;Database=IMSArkivUdviklingTest;User ID=IMSArk;Password=Digi$tal01;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="WcfService.Service1">
        <endpoint address="" behaviorConfiguration="restfulBehavior"
                  binding="webHttpBinding" bindingConfiguration="" contract="WcfService.IService1" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/hello"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <client>

      <endpoint name="SelfhostedDataAccess"
                address="http://localhost:80/hello"
                binding="basicHttpBinding"
                bindingConfiguration=""
                contract="WcfService.IService1"  />
    </client>
  </system.serviceModel>
</configuration>
